* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}
.main {
    background-image: url("image/bg.jpg");
    height: 700px;
    background-position: center center;
    max-width: max(1250px,100vw);
    background-repeat: no-repeat;
    position: relative;
}

.box-1 {
    height: 700px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

/* NavBar */

nav {
    width: 80vw ;
    height: 62px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butt {
    margin-right: 30px;
    position: relative;
    z-index: 10;
    font-display: flex;
}

.sign {
    background-color: #e50914;
    color: white;
    font-size: 0.90rem;
    font-weight: 700;
    margin-top: 25px;
    border-radius: 4px;
    width: 79px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.sign:hover {
    background-color: #c61114;
}


.lange {
    margin-right: 13px;
    margin-top: 25px;
    width: 122px;
    height: 32px;
    font-size: 0.90rem;
    font-weight: 700;
    background-color: rgb(39 33 33);
    opacity: 0.8;
    color: white;
    border: none;
    border-radius: 4px;
}

.lange:hover {
    border: 1px solid white;
}

nav img{
    margin-top: 25px;
    color: rgb(246, 7, 19);
    width: 148px;
    height: 40px;
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* gap: 23px; */
    padding: 23px;
    text-align: center;
}

.txt-1 {
    font-weight: 900;
    font-size: 48px;
}

.txt-2 {
    font-weight: 400;
    font-size: 24px;
    margin-top: 15px;
}

.txt-3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}

.input {
    margin-top: 15px;
    margin-bottom: 30px;

}

.email-add {
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    border: 0.3px solid rgb(122 116 116);
    font-size: 20px;
    padding: 13px 60px;
}

.buttons {
    border-radius: 4px;
    border: 0.3px solid rgba(0, 0, 0, 0);
    background-color: rgb(222,0,0);
    color: white;
    font-size: 20px;
    padding: 13px 29px;
    font-weight: 700;
    cursor: pointer;
}

.buttons:hover {
    background-color: #a91316;
}

.separation {
    height: 0.5rem;
    background-color: rgb(35,35,35);
    position: relative;
    z-index: 30;
    bottom: 6.78rem;
}


/*Second page section part*/

.section-p {
    max-width: 80vw;
    /* height: 400px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sec-img {
    position: relative;
}

.sec-img img {
   width: 480px;
   position: relative;
   z-index: 20;
   
}

.vid-tv1 {
    overflow: hidden;
    position: absolute;
    right: 65px;
    top: 75px;
    height: 198px;
}

.vid-tv2 {
    position: absolute;
    right: 95px;
    top: 43px;
    height: 169px;
    overflow: hidden;
    z-index: -1;
}

.txt {
   display: flex;
   flex-direction: column;
   gap: 9px;
}

.line-1 {
    font-size: 45px;
    font-weight: bolder;
}

.line-2 {
    font-size: 20px;
}

.overlap-img {
    background-color: black;
    color: white;
    display: flex;
    width: 280px;
    height: 89px;
    border: 2px solid rgb(35,35,35);
    border-radius: 10px;
    position: absolute;
    left: 217px;
    z-index: 25;
    margin-top: 230px;
}

.main-img {
    width: 53px;
    height: 75px;
    position: absolute;
    left: 12px;
    top: 8px;
    border-radius: 4px;
}

.overlap-img div {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 72px;
    top: 25px;
}

.overlap-img span:first-child {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 2px;
    
}

.overlap-img span:last-child {
    font-size: 14px;
    font-weight: 200;
    color: blue;
}

.down-gif {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 2px;
    top: 19px;
}

.separation-2 {
    height: 0.5rem;
    background-color: rgb(35,35,35);
    position: relative;
    z-index: 20;
    bottom: 0;
}

.faq {
    color: white;
    padding: 34px;
    
}

.faq h2{
    text-align: center;
    font-size: 45px;
}

.faq-Box {
    transition: all 2s ease-out;
    display: flex;
    font-size: 25px;
    background-color: rgb(41, 40, 40);
    max-width: 70vw;
    padding: 24px;
    margin: 20px auto;
    cursor: pointer;
    justify-content: space-between;
}

.faq-Box i {
    font-size: 30px;
    color: rgb(204, 195, 181);  
}

.faq-Box:hover {
    background-color: rgb(123, 123, 123);
    /* color: white; */
}
.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.sign-in span {
    font-size: 20px;
}


/*Footer*/

footer {
    position: relative;
    color: white;
    height: 350px;
}

.foot-head {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: 60px auto;
    color: rgba(255,255,255,0.7);
    
}

.foot-Box1 {
    /* background-color: red; */
    height: 135px;
    position: absolute;
    left: 110px;
    top: 24px;
    font-size: 0.90rem;
}

footer ul {
    list-style-type: none;
    column-count: 4;
    column-gap: 105px;
    margin: 24px auto;
}

footer ul li {
    gap: 20px;
    color: rgba(255,255,255,0.7);
    text-decoration: underline;
    padding: 10px;
    cursor: pointer;
}

.foot-Box2 {
    position: absolute;
    left: 8px;
    top: 165px;
}

.foot-Box3 {
    position: absolute;
    left: 10px;
    top: 250px;
    color: rgba(255,255,255,0.7);
    font-size: 0.90rem;
    font-family: Arial, Helvetica, sans-serif;
}
